body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.header {
    background: indianred;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 40px;
    font-weight:bold;
    padding: 20px;
}

button.newBook {
    align-self: center;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 20px;
}


.books{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: 3px solid rgba(0, 0, 0, 0.521);
    border-radius: 3px;
    padding: 10px;
    justify-content: space-between;
}

.book:hover {
    transform: scale(1.1);
}

.book .bookButtons  {
    height: 50px;
    display: flex;
}

.bookButtons .remove,
.bookButtons .status {
    flex: 1 1 0;
}

button.read {
    background-color: rgba(108, 255, 108, 0.89);
}

button.unread {
    background-color: rgb(255, 129, 129);
}

.add_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    align-self: center;
}

.special {
    background-color: rgb(166, 236, 245);
}