.books{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
}

.book{
    display: flex;
    flex-direction: column;
}

button.read {
    background-color: green;
}

button.unread {
    background-color: red;
}